

<body class="bg-light">
  <h1 class="" style=" margin-top:-900px; margin-left:600px;">Narxlar:</h1>

  <main>

    {{#if token}}
      <div style="margin-left: 250px; margin-top:50px;" class="row row-cols-1 row-cols-md-3 mb-3 text-center">
       <div class="col">
         <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Bepul</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/year</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Faqat bepul kurs - Frontend </li>
              <li>90 ta darsliklar</li>
              <li>Malakali o'qtuvchilar</li>
              <li><h3>Boshlang'ich darajadan</h3></li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary"><a class="text-dark text-decoration-none" href="https://t.me/+Od146u20Ios0YjIy">Hozir boshlamoq</a></button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Yarim-pro</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$20<small class="text-muted fw-light">/year</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Frontend Full </li>
              <li>150ga yaqin darsliklar</li>
              <li>Professional o'qituvchilar</li>
              <li><h3>O'rtacha darajadan</h3></li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary"><a class="text-light text-decoration-none" href="https://t.me/mr_fullstack_aziz_developer">To'lov qilish</a></button>
          </div>
      </div>
    </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">PRO</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$35<small class="text-muted fw-light">/year</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Node js  Backend, Python, </li>
              <li>200 ga yaqin darsliklar</li>
              <li>Professional o'qituvchilar</li>
              <li><h3>Mukammal darajadan</h3></li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary"><a class="text-light text-decoration-none" href="https://t.me/mr_fullstack_aziz_developer">To'lov qilish</a></button>
          </div>
        </div>
      </div>
    </div>

   <div>
    {{else}}
     <div style="margin-left: 250px; margin-top:50px;" class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Bepul</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/year</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Faqat bepul kurs - Frontend </li>
              <li>90 ta darsliklar</li>
              <li>Malakali o'qtuvchilar</li>
              <li><h3>Boshlang'ich darajadan</h3></li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary"><a class="text-dark text-decoration-none" href="/register">Ro'yhatdan o'tish </a></button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Yarim-pro</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$20<small class="text-muted fw-light">/year</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Frontend Full </li>
              <li>150ga yaqin darsliklar</li>
              <li>Professional o'qituvchilar</li>
              <li><h3>O'rtacha darajadan</h3></li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary"><a class="text-light text-decoration-none" href="/register">Ro'yhatdan o'tish</a></button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">PRO</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$35<small class="text-muted fw-light">/year</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Node js  Backend, Python, </li>
              <li>200 ga yaqin darsliklar</li>
              <li>Professional o'qituvchilar</li>
              <li><h3>Mukammal darajadan</h3></li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary"><a class="text-light text-decoration-none" href="/register">Ro'yhatdan o'tish</a></button>
          </div>
        </div>
      </div>
    </div>

    <div>
    {{/if}}

    
   
      <img src="https://png.pngtree.com/png-clipart/20230427/original/pngtree-free-ad-blocker-or-promotion-block-red-icon-png-image_9112572.png" width="300px" style="margin-left: 500px;" alt="">
      <h1 class="text-danger text-center" style="margin-left: 240px; margin-top:10px;">Hozircha chegirma va reklamalar mavjud emas !</h1>
      
    </div>
  </main>
    
</body>