

<div style="margin-left: 300px; margin-top: -900px ;">
<h1 class="text-center text-dak"> Our Teachers</h1>
  
  <div class="container">

  <div class="box-container">
        
                <div class="box">
                    <h3 class="text-danger">Samar Badriddinov</h3>            
                    <p class="text-dark"><span class="text-primary">Samar Badriddinov</span>  - Sammi platformasi asoschisi hamda Amerika, Tunisia va Rossiya do'vlatrida bir nachta StartUp loyihalarda ishtrok etgan. Xozirgi kunda Amerikadagi sug'urta kompaniyasida ishlaydi. Hozirda Misrda full-stack dasturchi bo`lib ishlaydi.</p>
                    <a href="https://www.sammiblog.com/" class="btn btn-danger text-light">read more</a>
                </div>
        
                <div class="box">
                    <h3 class="text-danger">Ulug'bek Samigjanov</h3>
                    <p class="text-dark"><span class="text-primary">Ulugbek Samigjonov</span> – Full-Stack dasturchi bo’lib veb-dasturlash bo‘yicha 5 yildan ortiq tajribaga ega bo‘lgan Senior-dasturchi. Hozirda AQSHning EPAM Systems kompaniyasida Senior (katta) dasturchi va Team Lead sifatida faoliyat yuritadi. </p>
                    <a href="https://www.instagram.com/ulugbeksamigjonov/" class="btn btn-danger text-light">read more</a>
                </div>
                <div class="box">
                    <h3 class="text-danger">Alisher Musurmonov</h3>
                    <p class="text-dark"> <span class="text-primary">Alisher Musurmonov</span> javascriptni to'liq ishlab chiquvchi, murabbiy, kodlash bo'yicha o'qituvchi va YouTuber hisoblanadi. Hozirda u to'liq javascript senior dasturchi, u texnik muammolarni kodlash orqali hal qilishga ishtiyoqlidir. Reactda 6 yillik va Node js da 4 yillik tajribaga ega dasturchi.</p>
                    <a href="https://alisher.me/" class="btn btn-danger text-light">read more</a>
                </div>
                    <div class="box">
                    <h3 class="text-danger">Aziz Sayfiyev</h3>
                    <p class="text-dark"> <span class="text-primary">Aziz Sayfiyev</span>MrAziz||Courses asoschisi.  Javascript dasturlash tilida to`liq ishlovchi undan tashqari Javascript frameworklarini yaxshi qo`llovchi dasturchi hisoblanadi. Hozirda Itparkda Junior Full stack dasturchi bo`lib ishlaydi. Full stack bir yillik tajribaga ega.   </p>
                    <a href="https://t.me/+3uLjdynlMHc4YjAy" class="btn btn-danger text-light">read more</a>
                </div>
                <div class="box">
                    <h3 class="text-danger">Anvar Narzullayev</h3>
                    <p class="text-dark"> <span class="text-primary">Anvar Narzullayev</span>Mohir Dev Asoschilaridan biri bo'lib ,Python va Data scince shuningdek su'niy intelekt bo'yicha 10 yildan ortiq tajribaga ega dasturchi va tadqiqodchi hisoblanadi.    </p>
                    <a href="https://mohirdev.uz" class="btn btn-danger text-light">read more</a>
                </div>
            </div>
        

</div>
  </div> 